<div ng-app="Project">
	<div ng-controller="ProjectCtrl">

		<p class="lead">Create your projects</p>
		<form ng-submit="addProject()" class="inline-form">
			<input type="text" ng-model="newProject.name" />
			<input type="submit" class="btn btn-primary" />
		</form>

		<p class="lead">Here are your projects</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Index</th>
					<th>Name</th>
					<th>Enterance</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="project in projects">
					<td>{{ $index + 1 }}</td>
					<td>{{ project.name }}</td>
					<td><a ng-href="/projects/{{ project._id }}">Click Here</a></li>
				</tr>
			</tbody>
		</table>
	</div>

</div>