<hr />
<form ng-submit="addComment()">
	<input type="hidden" id="author_id" value="<%= author_id %>" />
	<input type="hidden" id="author_name" value="<%= author_name %>" />
	<input type="text" ng-model="newComment.content" placeholder="Say something" /><br />
	<input type="submit" class="btn btn-primary" value="post" />
</form>
<p>{{ newComment.content }}</p>